.container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
img
{
    height: 100px;
    width: auto;
}
a{
    text-decoration: none;
    color: black;
}
.item2{
    padding: 10px;
    background-color: aqua;
    display:flex;
justify-content:center;
align-items:center;
}
.card{
    height: 300px;
    width: auto;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.c1{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: aqua;
    }
    .c2{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: red;
    }
    .c3{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: black;
    }